.menu-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
     margin-left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    @media screen and (min-width:768px) {
            display: none;
        }
}
.menu-toggle .icon-cross,
.menu-toggle .icon-menu{
    fill:var(--title-color) ;
}

.menu-toggle:hover>.icon-cross,
.menu-toggle:focus>.icon-cross {
   fill: var(--accent-color);
}

.menu-toggle:hover>.icon-menu,
.menu-toggle:focus>.icon-menu {
    fill: var(--accent-color);
}

.mob-menu{
    position:fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    padding: 48px 40px;
  
    z-index: 999;
     background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
     

    transform: translateX(160%);
   
    transition: transform 250ms ease-in-out;

    @media screen and (min-width:768px){
        display: none;
    }
}

.mob-menu.is-open {
    transform: translateX(0);
   
}

.menu-toggle.js-close-menu{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
}

.mob-menu__nav-link{
    color: var(--title-color);
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}


.mob-menu__nav-item:not(:last-child){
    margin-bottom: 32px;
}

.mob-menu__contact{
    margin-top: auto;
    margin-bottom: 64px;
}

.mob-menu__contact-item:not(:last-child){
    margin-bottom: 32px;
}

.mob-menu__contact-tel{
    color:var(--accent-color);
    font-size: 34px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.68px;
    @media screen and (min-width:320px) and (max-width:479px) {
          font-size: 26px;
        }
  }

.mob-menu__contact-mail{
    color:var(--text-color);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.mob-social{
    display: flex;
    margin: -10px;
    }

    .mob-social__item{
      margin: 10px;
    }

   .mob-social__link
    {display: block;
        
        color:var(--accent-color);
        font-size: 18px;
        font-weight: 500;
        line-height:1.22px;
        letter-spacing: 0.36px;
        @media screen and (min-width:320px) and (max-width:479px) {
                font-size: 12px;
            }
    }

        .mob-social__item-after{
        position: relative;
}

        .mob-social__item-after::after{
            content: " ";
            display: block;
            position: absolute;
            top: -11px;
            left: -10px;        
            width: 1px;
            height: 22px;
           background-color: rgba(33, 33, 33, 0.20);;
        }