.features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.features__item {
    margin: 15px;
    @media screen and (max-width:767px) {
            width: 450px;
        }
    @media screen and (min-width:768px) {
            width: 354px;
        }
    @media screen and (min-width:1280px){
    width: 270px;
    }
    
}

.features__icons-wrarrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: #f5f4fa;
}

.features__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-color);
    font-size: var(--font-size);
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
      text-align: center;
        
    }
}

.features__text {
    margin: 0;

    font-size: var(--font-size);
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--text-color);
}